.wrapper {
    max-width: 375px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    &__inner {
        height: 920px;
        overflow-y: scroll;
        padding-right: 10px;
    }
}
