.form {
    background-color: #FDFDFD;
    padding: 57px 16px 70px 16px;
    box-shadow: 0px -4px 50px 0px rgba(0, 0, 0, 0.09);
    border-radius: 40px 40px 0px 0px;
}
.password__label {
    position: relative;
    
}
.password__btn {
    position: absolute;
    right: 0;
    top: 0;

    &.active::after {
        opacity: 0;
    }

    &::after {
        content: "";
        position: absolute;
        top: 10px;
        right: 1;
        width: 25px;
        height: 3px;
        background-color: #000;
        transform: rotate(45deg);
        transition: .3s ease;
        opacity: 1;
    }
}
.form__user {
    outline: none;
    border-bottom: 1px solid #181818;
    padding: 10px;
    font-size: 14px;
    margin-bottom: 36px;
    width: 100%;

    &::placeholder {
        color: #181818;
    }
    &:focus {
        border: none;
        border-bottom: 1px solid #9D9B9B;
    }
}
.form__password {
    outline: none;
    border-bottom: 1px solid #181818;
    padding: 10px;
    font-size: 14px;
    width: 100%;
    margin-bottom: 10px;

    &::placeholder {
        color: #181818;
    }
    &:focus {
        border: none;
        border-bottom: 1px solid #9D9B9B;
    }
}
.form__submit {
    padding: 15px 124px;
    background-color: #4C6ED7;
    border-radius: 6px;
    color: #FDFDFD;
    max-width: 100%;
    margin-left: 20px;
    margin-top: 33px;
    margin-bottom: 25px;
    
    &:hover {
        background-color: #344d97;
        transition: .2s linear;
    }
}
.register__radio {
    width: 24px;
    height: 24px;
    margin-right: 8px;
}